doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Chris Ganey Media
    meta(name='Description', content='A Discussion About Javascript')
    link(rel='canonical', href='')
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:url', content='')
    meta(property='og:image', content='')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='')
    link(rel='stylesheet', href='css/normalize.css', type='text/css', media='all')
    link(rel='stylesheet', href='css/my_skeleton.css', type='text/css', media='all')
    link(rel='stylesheet', href='css/style.css', type='text/css', media='all')
  body
    .container
      header
        .row
          .col-header
            .apptitle
              h1 ChrisGaneyMedia
      .main_content
        .welcome
          h2 Welcome To My Blog
      // end main_content
      footer
        .row
          .col-footer
            .links
              h5 Privacy Policy
              h5 About Us
              h5 Contact
              h5 Site Map
