/* Style Sheet for Spindle */

html, body, container, main_content, iframe {
	min-height: 100%; }
	
body {
  margin: 0;
  padding: 0; }

.container {
  position: relative;
  background-color: white; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12rem;
  background-color: #DAE6F7;
  opacity: 0.8; }
  
.apptitle {
	border-top: 1px solid blue;
	border-bottom: 3px solid red;
	margin-bottom: 1.5rem; }
	
.apptitle h1 {
	line-height: 3rem;
	padding-top: 1.5rem; }
	
.main_content {
	width: 100%;
	padding-bottom: 12rem;
	padding-left: 3rem;
	padding-right: 3rem; }
.article_name {
	cursor: pointer;
}
	
.links, .main_content h2 {
	text-align: center; }
	
.links h5 {
	display: inline;
	margin: 2rem; }
	
.col-main {
	width: 74.0%;
	}
.col-right {
	width: 22.0%;
	}
.col-center {
	width: 65.3333333333%;
}
.col-marg {
	 width: 13.3333333333%;
}
	
	
